.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.buttons-wrapper__items-wrapper {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items-wrapper__approve-btn,
.items-wrapper__reject-btn {
  width: 60px;
  height: 60px;
  border: none;
  background: none;
  border-radius: 50px;
  box-shadow: rgb(136 136 136 / 53%) 5px 5px 5px;
  cursor: pointer;
}
.items-wrapper__approve-btn {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #009e2d;
}

.items-wrapper__reject-btn {
  font-size: 40px;
  color: #eb3434;
  border: 1px solid #eb3434;
}

.items-wrapper__approve-btn > .approve-btn {
  color: #009e2d;
}

.items-wrapper__approve-btn:hover > .approve-btn {
  color: white;
}

.items-wrapper__approve-btn:hover {
  background-color: #009e2d;
}

.items-wrapper__reject-btn:hover {
  color: white;
  background-color: #eb3434;
}
