.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card-item__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60vh;
}

.card-item {
  position: absolute;
  width: 20rem;
  height: 30rem;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #8888;
}

.card-item:hover {
  cursor: grab;
}

.card-item__items-wrapper {
  background-position: center center;
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: relative;
}
